.onboarding-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.7);
}

@keyframes pulse-bg {
    0% {
        box-shadow: 0 0 2.69rem rgba(0, 255, 0, 1);
    }

    50% {
        box-shadow: 0 0 0.1rem rgba(0, 255, 0, 0.5);
    }

    100% {
        box-shadow: 0 0 2.69rem rgba(0, 255, 0, 1);
    }
}

@keyframes arrow-wiggle-lr {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes arrow-wiggle-rl {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.onboarding-box {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #0f0;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    pointer-events: all;
    animation: pulse-bg 1.337s infinite ease-in-out;

    .arrow {
        position: absolute;
        border-style: solid;
        border-width: 1rem;
        border-color: transparent;
    }
    .arrow-top {
        border-bottom-color: #0f0;
        left: 50%;
        top: -1.25rem;
        transform: translateX(-50%);
    }

    .arrow-bottom {
        border-top-color: #0f0;
        left: 50%;
        bottom: -1.25rem;
        transform: translateX(-50%);
    }

    .arrow-left {
        border-right-color: #0f0;
        left: -1.25rem;
        top: 40%;
        transform: translateY(-50%);
        animation: arrow-wiggle-rl 1s infinite;
    }

    .arrow-right {
        border-left-color: #0f0;
        right: -1.25rem;
        top: 40%;
        transform: translateY(-50%);
        animation: arrow-wiggle-lr 1s infinite;
    }

    .onboarding-content {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .onboarding-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        color: #aaa;

        button {
            background: none;
            border: 1px solid #0f0;
            color: #0f0;
            padding: 5px 10px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: #0f0;
                color: #000;
            }
            &.skip-tutorial {
                color: #ddd;
                border: 1px solid #ddd;
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}
