// Star Background Configuration
.star-background {
    position: relative;
}

.stars {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.star {
    position: absolute;
    background: #fff;
    border-radius: 50%;
}